@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');


.Text-Icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Font-Title{
  font-family: 'Sansita Swashed', cursive;
  font-size: 35px;
}



@media screen and (max-width: 600px){
  .Font-Title{
    font-size: 17px;
  }
}