.main-navigation{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 3.5rem;
  background: #0a66c2de;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}


/* logo */



.main-navigation__logo>h1{
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  font-size: 1.5rem;
}

/* menu items */

.main-navigation__items{
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

.main-navigation__items>ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.main-navigation__items li{
  margin: 0 1rem;
}

.main-navigation__items>ul>li>a,
.main-navigation__items>ul>li>button
{
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  background: transparent;
  border: none;
  font: inherit;
  cursor: pointer;
  margin: 0;
  outline: none;
  color: white;
}

/* 1st when you placed mouse shows color 
2nd when you clicked mouse it shows color
3rd when you clicked and your are in particular page it should show color  */

.main-navigation__items>ul>li>a:hover,
.main-navigation__items>ul>li>a:active,
.main-navigation__items>ul>li>a.active,
.main-navigation__items>ul>li>button:hover,
.main-navigation__items>ul>li>button:active
{
  color: #0a66c2;
  background: #ffffff;
  outline: none;
  border: none;
  border-radius: 5px;
}



/* media queries */
@media screen and (max-width: 450px){
  .main-navigation__items li{
    margin: 0 0;
  }
}
